.physicalContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 440px;
  border-radius: 10px;
  background-color: grey;
}

.stat {
  text-align: center;
  font-weight: bold;
}

.list {
  list-style-type: none;
  padding: 0;
}

li{
  list-style-type: none;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
  padding-bottom: 5px;

}