.header {
  text-align: center;
}

.pokedex {
  background-color: rgb(127, 127, 200);
}

.main {
  display: flex;
  justify-content: space-around;
}

.main .col img {
  background-color: rgb(159, 193, 223);
}

.col {
  flex: 1;
}

.description {
  flex: 1;
}
